<!DOCTYPE html>
<html>

<head>
	<title>Netrip</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
		integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/style22.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>


<nav class="navbar navbar-dark bg-dark">
	<a class="navbar-brand" href="#">Netrip</a>
	<div class="input-group input-group-lg  w-50">

		<input type="text" class="form-control" aria-label="Sizing example input"
			aria-describedby="inputGroup-sizing-lg" placeholder="Search Here..." id="myInput">
		<div class="input-group-append">
			<span class="input-group-text fas fa-search" id="inputGroup-sizing-lg"></span>

		</div>


	</div>
	<a href="/login">
		<button type="button" class="btn btn-success ml-5">New Post</button>
		<button type="button" class="btn btn-success ml-5">Login</button>
	</a>
	<div class="ml-5"></div>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>
	</div>



	<!-- Navbar links -->
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" href="#">Link</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Link</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Link</a>
			</li>
		</ul>
	</div>
</nav>

<body>

	<div class="container mt-4 col-lg-12 d-flex justify-content-center b">
		<a href="#h1">
			<button type="button" class="btn btn-lg btn-success mr-3 px-5" id="b1" style="text-align: left;">Top Destination</button>
		</a>
		<a href="#h2">
			<button type="button" class="btn btn-lg btn-danger mr-3 px-5" id="b2">Events</button>
		</a>
		<a href="#h3">
			<button type="button" class="btn btn-lg btn-warning mr-3 px-5" id="b3">Food & Taste</button>
		</a>
		<a href="#h4">
			<button type="button" class="btn btn-lg btn-info  px-5 mr-3" id="b4">Things To Do</button>
		</a>
		<a href="#h5">
			<button type="button" class="btn btn-lg btn-secondary  px-5" id="b5">Blogs</button>
		</a>
	</div>

	<div class="container mt-4 col-sm-12 d-flex justify-content-center bb">
		<a href="#h11">
			<button type="button" class="btn btn-sm btn-success mr-3 " id="b11">Top Destination</button>
		</a>
		<a href="#h22">
			<button type="button" class="btn btn-sm btn-danger mr-3 " id="b22">Events</button>
		</a>
		<a href="#h33">
			<button type="button" class="btn btn-sm btn-warning mr-3 " id="b33">Food & Taste</button>
		</a>
		<a href="#h44">
			<button type="button" class="btn btn-sm btn-info   mr-3" id="b44">Things To Do</button>
		</a>
		<a href="#h55">
			<button type="button" class="btn btn-sm btn-secondary  " id="b55">Blogs</button>
		</a>
	</div>





	<div class="row mt-5" style="padding-left: 200px;">
		<!-- <div class="col-lg-3 col-md-6 col-sm-12"> -->
			<a href="/Sikkim">
				<div class=" img-thumbnail responsive">
					<img src="imgs/Sikkim.jpg" alt="Responsive image" class=" responsive">
					<div class="content1" style="margin-bottom: 350px;margin-left: 50px;">
						<h1>Sikkim</h1>
					</div>
				</div>
			</a>
		<!-- </div> -->
		<!-- <div class="col-lg-3 col-md-6 col-sm-12"> -->
			<a href="/meghalaya">
				<div class=" img-thumbnail responsive">
					<img src="imgs/Meghalaya.png" alt="Responsive image" class=" responsive">
					<div class="content1" style="margin-bottom: 350px;margin-left: 50px;">
						<h1>Meghalaya</h1>
					</div>
				</div>
			</a>
		<!-- </div> -->
		<!-- <div class="col-lg-3 col-md-6 col-sm-12"> -->
			<a href="/Nagaland">
				<div class=" img-thumbnail responsive">
					<img src="imgs/Nagaland.jpg" alt="Responsive image" class="responsive">
					<div class="content1" style="margin-bottom: 350px;margin-left: 50px;">
						<h1>Nagaland</h1>
					</div>
				</div>
			</a>
		<!-- </div> -->

		<!-- <div class="col-lg-3 col-md-6 col-sm-12"> -->
			<a href="/Assam">
				<div class=" img-thumbnail responsive">
					<img src="imgs/Assam.jpeg" alt="Responsive image" class="responsive">
					<div class="content1" style="margin-bottom: 350px;margin-left: 50px;">
						<h1>Assam</h1>
					</div>
				</div>
			</a>
		<!-- </div> -->
	</div>
	<div class="row mt-3" style="padding-left: 200px;">
		<!-- <div class="col-lg-3 col-md-6 col-sm-12"> -->
			<a href="/Mizoram">
				<div class=" img-thumbnail responsive">
					<img src="imgs/Mizoram.jpg" alt="Responsive image" class="responsive">
					<div class="content1" style="margin-bottom: 100px;margin-left: 50px;">
						<h1>Mizoram</h1>
					</div>
				</div>
			</a>
		<!-- </div> -->

		<!-- <div class="col-lg-3 col-md-6 col-sm-12"> -->
			<a href="/Manipur">
				<div class=" img-thumbnail responsive">
					<img src="imgs/Manipur.jpg" alt="Responsive image" class="responsive">
					<div class="content1" style="margin-bottom: 100px;margin-left: 50px;">
						<h2>Manipur</h2>
					</div>
				</div>
			</a>
		<!-- </div> -->
		<!-- <div class="col-lg-3 col-md-6 col-sm-12"> -->
			<a href="/Arunachal">
				<div class=" img-thumbnail responsive">
					<img src="imgs/Arunachal.jpg" alt="Responsive image" class="responsive">
					<div class="content1" style="margin-bottom: 100px;margin-left: 50px;">
						<h1>Arunachal</h1>
					</div>
				</div>
			</a>
		<!-- </div> -->
		<!-- <div class="col-lg-3 col-md-6 col-sm-12"> -->
			<a href="/Tripura">
				<div class=" img-thumbnail responsive">
					<img src="imgs/Tripura.png" alt="Responsive image" class="responsive">
					<div class="content1" style="margin-bottom: 100px;margin-left: 50px;">
						<h1>Tripura</h1>
					</div>
				</div>
			</a>
		<!-- </div> -->
	</div>





	<h1 class="mt-5" id="h1">Top Destinations</h1>
	<hr class="w-50">


	<div class="card-deck">
		
		<% for(var i=0; i < data['Top Destination'].length; i++) { %>

		<div class="card">
			<a href="/MoreInfo">
				<img src="imgs/uploads/<%=data['Top Destination'][i].images%>" class="card-img-top" alt="..."">
			</a>
			<div class="card-body">
				<h5 class="card-title"><%=data['Top Destination'][i].title%></h5>
				<p class="card-text"><%-data['Top Destination'][i].description%></p>

			</div>
		</div>

		<% } %>

	</div>


	<h1 class="mt-5" id="h2">Popular Events</h1>
	<hr class="w-50">

	<div class="card-deck">
		
		<% for(var i=0; i < data['Popular Events'].length; i++) { %>

			<div class="card">
				<a href="/MoreInfo">
					<img src="imgs/uploads/<%=data['Popular Events'][i].images%>" class="card-img-top" alt="...">
				</a>
				<div class="card-body">
					<h5 class="card-title"><%=data['Popular Events'][i].title%></h5>
					<p class="card-text"><%-data['Popular Events'][i].description%></p>
	
				</div>
			</div>
	
		<% } %>
		
	</div>


	<h1 class="mt-5" id="h3">Ethinic Food</h1>
	<hr class="w-50">

	<div class="card-deck">

		<% for(var i=0; i < data['Ethinic Food'].length; i++) { %>

			<div class="card">
				<a href="/MoreInfo">
					<img src="imgs/uploads/<%=data['Ethinic Food'][i].images%>" class="card-img-top" alt="...">
				</a>
				<div class="card-body">
					<h5 class="card-title"><%=data['Ethinic Food'][i].title%></h5>
					<p class="card-text"><%-data['Ethinic Food'][i].description%></p>
	
				</div>
			</div>
	
		<% } %>

	</div>
	<h1 class="mt-5" id="h4">Adventure Activities</h1>
	<hr class="w-50">

	<div class="card-deck">

		<% for(var i=0; i < data['Adventure Activities'].length; i++) { %>

			<div class="card">
				<a href="/MoreInfo">
					<img src="imgs/uploads/<%=data['Adventure Activities'][i].images%>" class="card-img-top" alt="...">
				</a>
				<div class="card-body">
					<h5 class="card-title"><%=data['Adventure Activities'][i].title%></h5>
					<p class="card-text"><%-data['Adventure Activities'][i].description%></p>
	
				</div>
			</div>
	
		<% } %>

	</div>

</body>

</html>